<style>
    body {
        background-image: url("/images/back3.jpg");
    }

    .heading {
        /* border: 2px solid red; */
        color: white;
        text-align: center;
        font-size: 65px;
        text-shadow: 5px 5px #FF0000;
    }

    .selfbutn {
        width: 45%;
        margin-left: 25%;
        margin-top: 15px;
        font-size: 45px;
    }

    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        /* position: absolute; */
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<body>




    <div class="heading"><a href="/dashboard" style="text-decoration: none; color: white;">Square One <img
                src="/images/oneplus.png" width="70px" height="95px"></a></div>

    <div>

        <a href="/users/profile" class="btn btn-danger">Back</a>
    </div>


    <div class="row mt-5">
        <div class="col-md-12 m-auto">
            <div class="card card-body text-center">

                <p style="font-size: 60px;">Change Password &#128566;</p>
                <%-include('./partials/messages.ejs'); %>
                <div style="width: 50%;margin-left: 25%;">
                <form action="/users/changepwd" method="POST">
                    <div class="form-group">
                
                    <div class="form-group">
                        <label for="password">Enter Current Password</label>
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="Current Password"
                            value="<%= typeof password1 != 'undefined' ? password1 : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password">Enter New Password</label>
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="New Password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Change Password
                    </button>
                    </div>
                </form>
</div>
            </div>
        </div>
    </div>
</body>